# RetailCRM
RETAILCRM_API_URL=https://mail-crm.retailcrm.ru
RETAILCRM_API_KEY=SECRET_KEY

# Supabase
SUPABASE_URL=https://ythddwjrbdmalqfqcklj.supabase.co
SUPABASE_SERVICE_ROLE_KEY=SECRET_KEY

# Telegram
TELEGRAM_BOT_TOKEN=SECRET_KEY
TELEGRAM_CHAT_ID=INT_ID

# FastAPI
FASTAPI_ENV=development
FASTAPI_PORT=8000
