# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache
*.pytest_cache/
*.coverage
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
env/
.venv/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env

# Pytest cache
.pytest_cache/
htmlcov/
